/* імпорт шрифтів*/

@font-face {
  font-family: Clear-Sans;
  font-weight: 100;
  src: url(../fonts/ClearSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: Clear-Sans;
  font-weight: normal;
  src: url(../fonts/ClearSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Clear-Sans;
  font-style: italic;
  src: url(../fonts/ClearSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: Clear-Sans;
  font-weight: bold;
  src: url(../fonts/ClearSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Clear-Sans;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/ClearSans-BoldItalic.ttf) format('truetype');
}
