// Останні новини

.fragments {
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: $column_gap;


  /*Лінка на сторінку - "Новини", назва рубрики*/
  #fragments-link {
    grid-column: 1/3;
  }

  .fragments-container {
    grid-column: 3/9;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px max-content;
    column-gap: $column_gap;

    @media(max-width: $mq-narrow) {
      display: block;
    }

    .fragment {
      grid-row: 2/-1;

      font-size: 14px;

      h4 { font-weight: normal; }

      @media(max-width: $mq-middle) {
        font-size: 12px;
      }
    }

    .f1 { margin-top: 0 }
    .f2 { margin-top: 0 }
    .f3 { margin-top: -90px }
    .f4 { margin-top: -30px }
    .f5 { margin-top: -30px }


    @media(max-width: $mq-middle) {
      .fragment {
        margin-top: 0 !important;
      }
    }

  }
}